{% extends "main/base.html" %}


{% block script %}
<script type="text/javascript">
$(function(){
	$('#id_sender_country').change(function(){		
	  	$.get(
			"/sender_citysearch/",
			{'country_id': $('#id_sender_country').val()},
	    	function(data){
	      	
	        		var d;
	        		$.each(data, function(k,v){
	          			d += '<option value="' + v.fields.cityname + '">' +v.fields.cityname + '<\/option>';
	        		});
	        	

	        		$('#id_sender_city').html(d);
	    	},
			'json'
		);
		$.get(
			"/sender_countrysearch/",
			{'country_id': $('#id_sender_country').val()},
	    	function(data){
	      	
	        		var d;
	        		$.each(data, function(k,v){
	          			d += '<option value="' + v.fields.countryname + '">' +v.fields.countryname + '<\/option>';
	        		});
	        	

	        		$('#id_receiver_country').html(d);
	    	},
			'json'
		);
	  	$.get(
			"/receiver_citysearch/",
			{'country_id': $('#id_receiver_country').val()},
	    	function(data){
	      	
	        		var d;
	        		$.each(data, function(k,v){
	          			d += '<option value="' + v.fields.cityname + '">' +v.fields.cityname + '<\/option>';
	        		});
	        	

	        		$('#id_receiver_city').html(d);
	    	},
			'json'
		);
	});
});


</script>

{% endblock script %}


{% load bootstrap %}


<section id="table">	

{% block main %}



	
<form method="get"  action="">
	{{search_form|bootstrap}}
<input  class="btn" type="submit" value="Search" />
</form>
<br>

Recent transactions<br>
<!-- ><ol>{{ object_list.all|safeseq|unordered_list }}</ol> -->


{% regroup object_list.all by created as  created_list %}

<ul>
{% for created in created_list %}
    <li>{{ created.grouper }}
    <ul>
        {% for item in created.list %}
{% ifequal item.status "N" %}

<li> <a href="{{ item.get_absolute_url }}">{{ item.sender.accountfirstname}}</a>,{{ item.sender.bank.bankcity}}, {{ item.sender.bank.bankcountry}} requests to transfer  {{ item.amount }} to {{ item.receiver.accountfirstname }}, {{item.receiver.bank.bankcity}}, {{ item.receiver.bank.bankcountry}} . <a href="{{ item.get_swap_absolute_url }}">Swap with {{ item.sender.accountfirstname}}</a></li>

{% endifequal %} 	

{% ifequal item.status "Y" %}

<li> <a href="{{ item.get_absolute_url }}">{{ item.sender.accountfirstname}}</a>, {{ item.sender.bank.bankcity}},{{ item.sender.bank.bankcountry}}  requests to transfer  {{ item.amount }} to {{ item.receiver.accountfirstname }},{{ item.receiver.bank.bankcity}}, {{ item.receiver.bank.bankcountry}}. {{ item.sender.accountfirstname}} accepts a swap. </li>

{% endifequal %}

        {% endfor %}
    </ul>
    </li>
{% endfor %}
</ul>
<br>
	{% endblock %}
	
</section>