<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">

{%block head %}
	<head>

		<title>p2pwire.com{%block pagetitle %}{% endblock %}</title>
	  <link rel="stylesheet" href="{{ MEDIA_URL}}/main.css" />
	
<link rel="stylesheet" type="text/css" href="http://jquery-ui.googlecode.com/svn/tags/latest/themes/base/jquery-ui.css" media="all" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

<script type="text/javascript" src="{{ MEDIA_URL }}/jquery.formset.min.js"></script>

	</head>

{% endblock %}

{%block script %}

<script type="text/javascript"> 
 
$(document).ready(function() {
 
	//Default Action
	$(".tab_content").hide(); //Hide all content
	//$("ul.tabs li:first").addClass("active").show(); //Activate first tab
	$(".tab_content:first").show(); //Show first tab content
	
	//On Click Event
	$("ul.tabs li").click(function() {
		//$("ul.tabs li").removeClass("active"); //Remove any "active" class
		//$(this).addClass("active"); //Add "active" class to selected tab
		
		$(".tab_content").hide(); //Hide all tab content
		var activeTab = $(this).find("a").attr("href"); //Find the rel attribute value to identify the active tab + content
		$(activeTab).fadeIn(); //Fade in the active content
		return false;
	});
 
});
</script> 


{% endblock %}

	<body>

		<div id="navcontainer">
		<ul id="navlist">

			<li>p2pwire.com.</li>

				<li><a href="/main/">Home</a></li>



				<li><a href="/about/">About</a></li>

				<li><a href="/blog/">Blog</a></li>

				<li><a href="/how/">How it works</a></li>
				<li><a href="/account/logout/">Sign out</a></li>
				



			</ul>

		</div>
<ul class="tabs"> 

<li><a href="/main/">Recent transactions</a></li>

				<li><a href="/transfer/">Make transfer</a></li>



					<li><a href="/recipient_add/">Manage recipient</a></li>

					<li><a href="/trans_history/">Manage account</a></li>




				</ul>

		
                                {% block profile %}{% endblock %}
     
                                {% block trans %}{% endblock %}


				{% block main %}{% endblock %}





		




	</body>
	<div id="ft">
					<div id="navcontainer">
					<ul id="navlist">



							<li><a href="/main/">Home</a></li>



							<li><a href="/about/">About</a></li>

							<li><a href="/blog/">Blog</a></li>

							<li><a href="/how/">How it works</a></li>
							<li><a href="/logout/">Sign out</a></li>




						</ul>

					</div>
				
			</div><!--// footer -->

</html>
