{% extends "main/base_0.html" %}
{% block main%}
  <div id="main-wrapper"> 
    <div id="container" class="container_10"> 
    
<section id="features" class="grid_10 has-tabs"> 
        <hgroup> 
  
          <h3>How it works</h3> 
        </hgroup> 
 
        <ul class="alpha grid_10 omega subnav"> 
          <li class="grid_3" tab-name="Find a new alternative"> 
            <h4>Dung wants to send 100usd from Hanoi to Toan in New York</h4> 
            <p>Dung posts his money transfer request on fundvn.com </p> 
          </li> 
         
          <li class="grid_3" tab-name="Know what you can safely spend"> 
            <h4>John from New York wants to send 100usd to David in Hanoi </h4> 
            <p>He logs in fundvn.com, finds Dung's request and clicks on swap to let Dung know</p> 
          </li> 
          <li class="grid_3" tab-name="Automate your savings goals"> 
            <h4>Dung receives a swap request email</h4> 
            <p>He then logs in fundvn.com, checks out John's request, John's profile and decides to accept it. Once he accepts, fundvn.com emails John telling him that his swap request has been accepted</p> 
          </li> 
          <li class="grid_3" tab-name="But wait, there's more..."> 
            <h4>Both Dung and John exchange contact info</h4> 
            <p>Once a swap is accepted, fundvn.com releases sender and receiver's email and bank info to both parties</p> 
          </li> 
		 <li class="grid_3" tab-name="But wait, there's more..."> 
            <h4>Swap is taken offline</h4> 
            <p>Once both parties have gained each other's trust, John gives Toan 100 in New York and Dung gives David 100usd in Hanoi (either in person or wire transfer)</p> 
          </li>
			 <li class="grid_3" tab-name="But wait, there's more..."> 
	            <h4>Everyone is happy</h4> 
	            <p>Once the swap is finished, both parties can log in fundvn.com and rate each other. No bank involved. No government involved!</p> 
	          </li>
		
        </ul> 
 
      
      </section> <!-- / What We're Building section --> 


    </div> <!-- end of #container --> 
  
 
 
</div>

{% endblock %}