{% extends "main/base.html" %}
{% block submain %}
<div id="navcontainer">
<ul id="navlist">



		<li><a href="/profile_home/">Account Info</a></li>
		<li><a href="/trans_history/">Transaction Info</a></li>
		
<li><a href="/mybank_manage/">Bank Info</a></li>


	</ul>

</div>
{% endblock %}

{% block main %}

{% load extra	%}


This is the list of bank accounts you have created<br>
<ol>
{% for obj in object_list.all|filter_by_user:user %}
<li>{{ obj }} <a href="{% url mybank_edit obj.id %}">Edit</a> <a href="{% url mybank_delete obj.id %}">Delete</a></li>

{% endfor %}
</ol>
<!-- <ol>{{ object_list.all|filter_by_user:user|safeseq|unordered_list }}</ol> -->
	
<br>


<ul id="navlist">
<li id="active"><a href="/mybank_add" id="current">Add another bank</a></li>

</ul>
</div>
{% endblock %}