{% extends "main/profile_base.html" %}


{% block main %}

{% load extra	%}


 <div class="tab_container"> 
        <div id="tab2" class="tab_content"> 
{% if object_list.all|filter_by_user:user %}	
	
	This is a list of bank accounts you have created
	<ol>
		{% for obj in object_list.all|filter_by_user:user %}
		<li>{{ obj }} <a href="{% url mybank_edit obj.id %}">Edit</a> <a href="{% url mybank_delete obj.id %}">Delete</a></li>

		{% endfor %}
	</ol>

{% else %}
You have not created any bank account. Please create one now.
{% endif %}	



<li id="active"><a href="/mybank_add" id="current">Add another bank</a></li>


</div>	
</div>
{% endblock %}