{% extends "main/base.html" %}

{% block main %}




{% regroup object_list.all by created as  created_list %}

<ul>

{% for created in created_list %}
    <li>{{ created.grouper }}
    <ul>
        {% for item in created.list %}
{% ifequal item.status "N" %}

<li> <a href="{{ item.get_absolute_url }}">{{ item.sender.accountfirstname}}</a>, {{ item.sender.bank.bankcountry}} requests to transfer {{ item.amount }} to {{ item.receiver.accountfirstname }}, {{ item.receiver.bank.bankcountry}}.{{ item.sender.accountfirstname}} has NOT accepted a swap. </li>

{% endifequal %}
{% ifequal item.status "Y" %}

<li> <a href="{{ item.get_absolute_url }}">{{ item.sender.accountfirstname}}</a>, {{ item.sender.bank.bankcountry}} requests to transfer {{ item.amount }} to {{ item.receiver.accountfirstname }}, {{ item.receiver.bank.bankcountry}}.{{ item.sender.accountfirstname}} has accepted a swap. </li>

{% endifequal %}
        {% endfor %}
    </ul>
    </li>
{% endfor %}
</ul>
<br>


{% endblock %}