{% extends "main/trans_base.html" %}



{% block main %}



Recent transactions<br>
<ol>
{% for object in  object_list.all %}
{% ifequal object.status "N" %}

<li> On {{object.created}} you  want to transfer to {{ object.receiver.accountfirstname }}, {{ object.receiver.bank.bankcountry}} an amount of  {{ object.amount }}, in response to {{object.org_tran}}  </li>

{% endifequal %}
{% ifequal object.status "Y" %}

<li> Your request to transfer to {{ object.receiver.accountfirstname }}, {{ object.receiver.bank.bankcountry}} an amount of  {{ object.amount }}, in response to {{object.org_tran}} has been accepted.</li>

{% endifequal %}

{% endfor %}
</ol>


<br>

{% endblock %}