{% extends "main/profile_detail.html" %}
{% block subsubmain %}
<div id="navcontainer">

<ul id="navlist">



		<li><a href="/trans_history/">Recent trans</a></li>
		<li><a href="/reverse_trans_history/">Recent reverse trans </a></li>
		


	</ul>

</div>

{% endblock %}
{% block main %}

{% load extra	%}

Recent transactions<br>
<ol>
{% for object in  object_list.all %}
{% ifequal object.status "N" %}

<li> On {{object.created}}</a>, you  want to transfer to {{ object.receiver.accountfirstname }}, {{ object.receiver.bank.bankcountry}} an amount of  {{ object.amount }}, which has received the following swap requests

<ol>
	
		{% for reverse_request in  object.reversetransaction_set.all %}
<li>	{{reverse_request}}</li><a href="{% url rtrans_accept reverse_request.id %}"> Accept</a> </li>
	{% endfor %}

</ol>

{% endifequal %}
{% ifequal object.status "Y" %}

<li> On {{object.created}}, you want to transfer to {{ object.receiver.accountfirstname }}, {{ object.receiver.bank.bankcountry}} an amount of  {{ object.amount }}. You then accepted a swap of </li>
<ol>
	
		{% for reverse_request in  object.reversetransaction_set.all %}
		{% ifequal reverse_request.status "Y" %}

<li>	{{reverse_request}}</li> </li>
{% endifequal %}

	{% endfor %}

</ol>
{% endifequal %}

{% endfor %}
</ol>


<br>

{% endblock %}