{% extends "main/base.html" %}
{% block head %}
<head>
		<title>p2pwire.com{%block pagetitle %}{% endblock %}</title>
	  <link rel="stylesheet" href="/media/main.css" />
<link rel="stylesheet" type="text/css" href="http://jquery-ui.googlecode.com/svn/tags/latest/themes/base/jquery-ui.css" media="all" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

</head>
{% endblock head %}

{% block script %}
<script type="text/javascript">
$(function() {
$("#id_sender").change(function(){ alert('hey!') });
 });

 $(function() {
        $("#id_created").datepicker({ dateFormat: 'yy-mm-dd' });
 });
</script>

{% endblock script %}

{% block main %}

<form method='POST'>{% csrf_token %}
 {{ form.as_p }} 
<input type='submit' value='Send'> 
</form>

{% endblock main %}