{% extends "main/trans_base.html" %}

{% block main %}
 <div class="tab_container"> 
        <div id="tab1" class="tab_content"> 
Recent transactions:<br>
<ul>

{% if  object_list.count == 0 %}
<li>

<p>You have 0 transaction </p>
</li>
{% else  %}

<p>You have {{object_list.count}} transactions(s): </p>

<ol>
{% for object in  object_list.all %}
	{% ifequal object.status "N" %}

			<li> On {{object.created}}, you request to transfer {{ object.amount }} to {{ object.receiver.accountfirstname }}, {{ object.receiver.bank.bankcountry}}. </li>
			
			{% if object.reversetransaction_set.all %}
		

			You have received the following swap requests

				<ol>

				{% for reverse_request in  object.reversetransaction_set.all %}

					<li><a href="{{ reverse_request.get_absolute_url }}">{{reverse_request.sender.accountfirstname }}</a>, {{ reverse_request.sender.bank.bankcountry}} who requests to transfer {{reverse_request.amount}} to {{reverse_request.receiver.accountfirstname }}, {{ reverse_request.receiver.bank.bankcountry}} <a href="{% url rtrans_accept reverse_request.id %}"> Accept</a> </li>
				
					{% endfor %}

				</ol>
			{% else %}
				<ol>
		<li>You currently have 0 swap requests.</li>
		</ol>
			{% endif %}
{% endifequal %}


{% ifequal object.status "Y" %}

<li> On {{object.created}}, you request to transfer ${{ object.amount }} to  ({{ object.receiver.email }}), {{ object.receiver.bank.bankcountry}}. You accept a swap from </li>
<ol>
	
		{% for reverse_request in  object.reversetransaction_set.all %}
		{% ifequal reverse_request.status "Y" %}

<li>{{reverse_request.sender.accountfirstname }} ({{reverse_request.sender.createdby.email }}), {{ reverse_request.sender.bank.bankcountry}} who requests to transfer ${{reverse_request.amount}} to {{reverse_request.receiver.accountfirstname }} ({{reverse_request.receiver.email }}), {{ reverse_request.receiver.bank.bankcountry}}</li> 
{% endifequal %}

	{% endfor %}

</ol>
{% endifequal %}

{% endfor %}
</ol>

{% endif %}

<br>
</div>	
</div>
{% endblock %}