


<!DOCTYPE html> 
<html > 
<head> 
  <meta charset="utf-8"> 
  <!--[if IE]><![endif]--> 
 
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
  <title>FundVn | Send Money. True Rates. No Bank Fees.</title> 
  <meta name="description" content="FundVn is reinventing personal banking with modern online and mobile experiences, no surprise fees, and great customer service."> 
  <meta name="author" content="Ian Collins & Toby Sterret, Grade 3"> 
  <link rel="alternate" type="application/atom+xml" title="FundVn Blog Feed" href="http://feeds.feedburner.com/FundVnBlog" /> 
  <link rel="alternate" type="application/atom+xml" title="FundVn Press Feed" href="http://feeds.feedburner.com/FundVnPress" /> 
  <link rel="alternate" type="application/atom+xml" title="FundVn Engineering Feed" href="http://feeds.feedburner.com/FundVnEngineering" /> 
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;"> 
  <link rel="shortcut icon" href="/favicon.ico"> 
  <script type="text/javascript">var globalStartTime = new Date();</script> 
  <link rel="stylesheet" media="screen and (min-width: 481px)" href="/media/base.css"> 
  <!--[if lt IE 9]>
  <link rel="stylesheet" media="screen" href="/css/base.css">
  <![endif]--> 
  <link rel="stylesheet" media="screen" href="/media/app.css"> 
  <comment> 
  <link rel="stylesheet" media="screen and (max-width: 480px)" href="/media/iphone.css"> 
  </comment> 

	<script type='text/javascript' src='/media/jquery-1.2.6.min.js'></script>


	 <script type="text/javascript">
	  /*<![CDATA[*/
	  jQuery(function() {
	      var form = jQuery("#contact-form");
	      form.submit(function(e) {
	          jQuery("#signup-wrapper").load(
		          
	              form.attr('action') + ' #signup-wrapper',
	              form.serializeArray(),
	              function(responseText, responseStatus) {
	                  jQuery("#sendbutton").attr('disabled', false)
	              }
	          );
	          e.preventDefault(); 
	      });
	  });
	  /*]]>*/
	  </script>
</head> 
<body class=" home "> 
 
				{% block main %}{% endblock %}



 

 
 
</body> 
</html>