{% extends "base_homepage.html" %}

{% block main%}


 <nav id="main-nav"> 
   <div class="container_10" id="nav-wrapper"> 
 <a class="grid_2 alpha btn" href="/account/login/"><span>Sign in</span></a>
<!--{% load bootstrap %}

 {% load form_login %}
{% form_login %}-->
 </nav>

 
<header id="main-bg"> 
  <canvas id="guilloche" width=1000 height=1000></canvas> 
 
  <div class="container_10 relative"> 
    <div id="card"> 
      <div id="logo-for-card"></div> 
      <div id="card-info"> 
        <div class="cc-text">XXXX XXXXX XXXXX</div> 
        <div class="cc-text">&nbsp;</div> 
        <div class="cc-text">&nbsp;</div> 
      </div> 
      <div id="nopale-cover"></div> 
      <div id="coming">Coming<span>2011</span><div></div></div> 
    </div> 
 
    <div class="grid_5 prefix_5"> 
      <h1 id="headline">We&#8217;re reinventing<br> money transfer.</h1> 
 
<p> 
  FundVn is an online money transfer platform that allows people to transfer money between US and Vietnam. It is easy and free.


</p> 
 
<p> 
  Money transferring shouldn't be hard and time-consuming. FundVn. Launching in 2011.
</p> 
 
 
<!--      <a class="sign-up-button" id="main-signup-btn"> 
        <span class="signup-txt">Save my spot</span> 
        <b>☟</b> 
      </a> --> 
    </div> 
  </div> 
</header> 
 
  <div id="main-wrapper"> 
    <div id="container" class="container_10"> 
    
 

 
 	 <section id="features" class="grid_10 has-tabs"> 
	        <hgroup> 
	          <span class="section-num">2</span> 
	          <h2>The product</h2> 
	          <h3>How it works</h3> 
	        </hgroup> 

	        <ul class="alpha grid_10 omega subnav"> 
	          <li class="grid_3" tab-name="Find a new alternative"> 
	            <h4>Dung wants to send 100usd from New York to Toan in Hanoi</h4> 
	            <p>Dung goes to fundvn.com and puts in his bank account info and Toan's bank account info </p> 
	          </li> 
	          <li class="grid_3" tab-name="Know what you can safely spend"> 
	            <h4>Within 24 hours, money is taken from Dung's bank account</h4> 
	            <p>Once the money gets to our company's US account, we will send Dung an email and a sms to confirm the withdrawal </p> 
	          </li>
	          <li class="grid_3" tab-name="Know what you can safely spend"> 
	            <h4>Within 24 hours, Toan's bank account receives the money</h4> 
	            <p>The money will come from our VN's bank account. We will send Toan and email and a sms describing the sender, amount sent,etc. </p> 
	          </li> 
	          <li class="grid_3" tab-name="Automate your savings goals"> 
	            <h4>Everything is automatic</h4> 
	            <p>This ensures there is no delay. Our software is very advanced and secure, the best in the market.</p> 
	          </li> 
	          <li class="grid_3" tab-name="But wait, there's more..."> 
	            <h4>Everything is electronic</h4> 
	            <p>All transactions are posted online, to be accessed anytime anywhere by both sender and receiver</p> 
	          </li> 

				 <li class="grid_3" tab-name="But wait, there's more..."> 
		            <h4>We are licensed and insured</h4> 
		            <p>We have money transfer licenses in both US and VN. This means there is no fraud or theft</p> 
		          </li>

	        </ul> 


	      </section> <!-- / What We're Building section -->
    
 
      <!-- Sign Up section --> 
      <section id="sign-up" class="grid_10"> 
        <hgroup> 
          <span class="section-num">3</span> 
          <h2 class="signup-txt">Save your spot</h2> 
          <h3>FundVn will launch in 2011. Sign up to try a beta account.</h3> 
        </hgroup> 
        <div id="sign-up-container" class="grid_10 alpha omega"> 
            <form id="contact-form"  method="post"  action="{%url contact_form  %}"> 
	          <div class="grid_8 prefix_1" id="signup-wrapper"> 
			  {% csrf_token %}
		     {{ form.non_field_errors }}
		
              <p> 
                Dear FundVn, 
              </p> 
              <p> 
               	    {{ form.as_table}}
			
                Please let me know when FundVn launches in 2011.
              </p> 
              <p id="form-error-message"></p> 
              <input class="grid_2 alpha btn" type="submit" id="signup-btn" value="Sign me up."> 
           </div>
            </form> 
           
        </div> 
      </section> <!-- / Sign Up section --> 
 
  
 

        
 

    </div> <!-- end of #container --> 
  
 
 
</div> 

{% endblock %}