
<!DOCTYPE html> 
<html > 
<head> 
  <meta charset="utf-8"> 
  <!--[if IE]><![endif]--> 
 
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
  <title>FundVn | Send Money. True Rates. No Bank Fees.</title> 
  <meta name="description" content="FundVn is reinventing personal banking with modern online and mobile experiences, no surprise fees, and great customer service."> 
  <meta name="author" content="Ian Collins & Toby Sterret, Grade 3"> 
  <link rel="alternate" type="application/atom+xml" title="FundVn Blog Feed" href="http://feeds.feedburner.com/FundVnBlog" /> 
  <link rel="alternate" type="application/atom+xml" title="FundVn Press Feed" href="http://feeds.feedburner.com/FundVnPress" /> 
  <link rel="alternate" type="application/atom+xml" title="FundVn Engineering Feed" href="http://feeds.feedburner.com/FundVnEngineering" /> 
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;"> 
  <link rel="shortcut icon" href="/favicon.ico"> 
  <script type="text/javascript">var globalStartTime = new Date();</script> 
  <link rel="stylesheet" media="screen and (min-width: 481px)" href="/media/base.css"> 
  <!--[if lt IE 9]>
  <link rel="stylesheet" media="screen" href="/css/base.css">
  <![endif]--> 
  <link rel="stylesheet" media="screen" href="/media/app.css"> 
  <comment> 
  <link rel="stylesheet" media="screen and (max-width: 480px)" href="/media/iphone.css"> 
  </comment> 

	<script type='text/javascript' src='/media/jquery-1.2.6.min.js'></script>


	 <script type="text/javascript">
	  /*<![CDATA[*/
	  jQuery(function() {
	      var form = jQuery("#contact-form");
	      form.submit(function(e) {
	          jQuery("#signup-wrapper").load(
		          
	              form.attr('action') + ' #signup-wrapper',
	              form.serializeArray(),
	              function(responseText, responseStatus) {
	                  jQuery("#sendbutton").attr('disabled', false)
	              }
	          );
	          e.preventDefault(); 
	      });
	  });
	  /*]]>*/
	  </script>
</head> 
<body class=" home "> 
 

 

 
 <nav id="main-nav"> 
   <div class="container_10" id="nav-wrapper"> 
 <a class="grid_2 alpha btn" href="/account/login/"><span>Sign in</span></a>

 </nav>

 
<header id="main-bg"> 
  <canvas id="guilloche" width=1000 height=1000></canvas> 
 
  <div class="container_10 relative"> 
    <div id="card"> 
      <div id="logo-for-card"></div> 
      <div id="card-info"> 
        <div class="cc-text">XXXX XXXXX XXXXX</div> 
        <div class="cc-text">&nbsp;</div> 
        <div class="cc-text">&nbsp;</div> 
      </div> 
      <div id="nopale-cover"></div> 
      <div id="coming">Coming<span>2011</span><div></div></div> 
    </div> 
 
    <div class="grid_5 prefix_5"> 
      <h1 id="headline">We&#8217;re reinventing<br> money transfer.</h1> 
 
<p> 
  FundVn is an online money transfer platform that allows people to transfer money between US and Vietnam. It is easy and free.


</p> 
 
<p> 
  Money transferring shouldn't be hard and time-consuming. FundVn. Launching in 2011.
</p> 
 
 
<!--      <a class="sign-up-button" id="main-signup-btn"> 
        <span class="signup-txt">Save my spot</span> 
        <b>☟</b> 
      </a> --> 
    </div> 
  </div> 
</header> 
 
  <div id="main-wrapper"> 
    <div id="container" class="container_10"> 
    
 

 
      <!-- What We're Building Section --> 
      <section id="features" class="grid_10 has-tabs"> 
        <hgroup> 
          <span class="section-num">2</span> 
          <h2>The product</h2> 
          <h3>How it works</h3> 
        </hgroup> 
 
        <ul class="alpha grid_10 omega subnav"> 
          <li class="grid_3" tab-name="Find a new alternative"> 
            <h4>Dung wants to send 100usd from Hanoi to Toan in New York</h4> 
            <p>Dung posts his money transfer request on fundvn.com </p> 
          </li> 
         
          <li class="grid_3" tab-name="Know what you can safely spend"> 
            <h4>John from New York wants to send 100usd to David in Hanoi </h4> 
            <p>He logs in fundvn.com, finds Dung's request and clicks on swap to let Dung know</p> 
          </li> 
          <li class="grid_3" tab-name="Automate your savings goals"> 
            <h4>Dung receives a swap request email</h4> 
            <p>He then logs in fundvn.com, checks out John's request, John's profile and decides to accept it. Once he accepts, fundvn.com emails John telling him that his swap request has been accepted</p> 
          </li> 
          <li class="grid_3" tab-name="But wait, there's more..."> 
            <h4>Both Dung and John exchange contact info</h4> 
            <p>Once a swap is accepted, fundvn.com releases sender and receiver's email and bank info to both parties</p> 
          </li> 
		 <li class="grid_3" tab-name="But wait, there's more..."> 
            <h4>Swap is taken offline</h4> 
            <p>Once both parties have gained each other's trust, John gives Toan 100 in New York and Dung gives David 100usd in Hanoi (either in person or wire transfer)</p> 
          </li>
			 <li class="grid_3" tab-name="But wait, there's more..."> 
	            <h4>Everyone is happy</h4> 
	            <p>Once the swap is finished, both parties can log in fundvn.com and rate each other. No bank involved. No government involved!</p> 
	          </li>
		
        </ul> 
 
      
      </section> <!-- / What We're Building section --> 
 
    
 
      <!-- Sign Up section --> 
      <section id="sign-up" class="grid_10"> 
        <hgroup> 
          <span class="section-num">3</span> 
          <h2 class="signup-txt">Save your spot</h2> 
          <h3>FundVn will launch in 2011. Sign up to try a beta account.</h3> 
        </hgroup> 
        <div id="sign-up-container" class="grid_10 alpha omega"> 
            <form id="contact-form"  method="post"  action="{%url contact_form  %}"> 
	          <div class="grid_8 prefix_1" id="signup-wrapper"> 
			  {% csrf_token %}
		     {{ form.non_field_errors }}
		
              <p> 
                Dear FundVn, 
              </p> 
              <p> 
               	    {{ form.as_table}}
			
                Please let me know when FundVn launches in 2011.
              </p> 
              <p id="form-error-message"></p> 
              <input class="grid_2 alpha btn" type="submit" id="signup-btn" value="Sign me up."> 
           </div>
            </form> 
           
        </div> 
      </section> <!-- / Sign Up section --> 
 
  
 
     
 
        
 

    </div> <!-- end of #container --> 
  
 
 
</div> 
 
 
</body> 
</html>