
<!DOCTYPE html> 
<html > 
<head> 
  <meta charset="utf-8"> 
  <!--[if IE]><![endif]--> 
 
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
  <title>FundVn | Send Money. True Rates. No Bank Fees.</title> 
  <meta name="description" content="FundVn is reinventing personal banking with modern online and mobile experiences, no surprise fees, and great customer service."> 
  <meta name="author" content="Ian Collins & Toby Sterret, Grade 3"> 
  <link rel="alternate" type="application/atom+xml" title="FundVn Blog Feed" href="http://feeds.feedburner.com/FundVnBlog" /> 
  <link rel="alternate" type="application/atom+xml" title="FundVn Press Feed" href="http://feeds.feedburner.com/FundVnPress" /> 
  <link rel="alternate" type="application/atom+xml" title="FundVn Engineering Feed" href="http://feeds.feedburner.com/FundVnEngineering" /> 
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;"> 
  <link rel="shortcut icon" href="/favicon.ico"> 
  <script type="text/javascript">var globalStartTime = new Date();</script> 
  <link rel="stylesheet" media="screen and (min-width: 481px)" href="/media/base.css"> 
  <!--[if lt IE 9]>
  <link rel="stylesheet" media="screen" href="/css/base.css">
  <![endif]--> 
  <link rel="stylesheet" media="screen" href="/media/app.css"> 
  <comment> 
  <link rel="stylesheet" media="screen and (max-width: 480px)" href="/media/iphone.css"> 
  </comment> 

	<script type='text/javascript' src='/media/jquery-1.2.6.min.js'></script>


	 <script type="text/javascript">
	  /*<![CDATA[*/
	  jQuery(function() {
	      var form = jQuery("#contact-form");
	      form.submit(function(e) {
	          jQuery("#signup-wrapper").load(
		          
	              form.attr('action') + ' #signup-wrapper',
	              form.serializeArray(),
	              function(responseText, responseStatus) {
	                  jQuery("#sendbutton").attr('disabled', false)
	              }
	          );
	          e.preventDefault(); 
	      });
	  });
	  /*]]>*/
	  </script>
</head> 
<body class=" home "> 
 

 

 
 <nav id="main-nav"> 
   <div class="container_10" id="nav-wrapper"> 
  
   </div> 
 </nav>

 
<header id="main-bg"> 
  <canvas id="guilloche" width=1000 height=1000></canvas> 
 
  <div class="container_10 relative"> 
    <div id="card"> 
      <div id="logo-for-card"></div> 
      <div id="card-info"> 
        <div class="cc-text">XXXX XXXXX XXXXX</div> 
        <div class="cc-text">&nbsp;</div> 
        <div class="cc-text">&nbsp;</div> 
      </div> 
      <div id="nopale-cover"></div> 
      <div id="coming">Coming<span>2011</span><div></div></div> 
    </div> 
 
    <div class="grid_5 prefix_5"> 
      <h1 id="headline">We&#8217;re reinventing<br> money transfer.</h1> 
 
<p> 
  FundVn is an online money transfer service that allows people to transfer money between US and Vietnam using our website. The company was founded in May 2011 and will launch publicly in December 2011.

	Transacting on FundVn.com is 100% secure. We are licensed by the US Financial Services Authority as a foreign exchange and money remittance organization.
</p> 
 
<p> 
  Money transferring shouldn't be hard and time-consuming. FundVn. Launching in 2011.
</p> 
 
 
<!--      <a class="sign-up-button" id="main-signup-btn"> 
        <span class="signup-txt">Save my spot</span> 
        <b>☟</b> 
      </a> --> 
    </div> 
  </div> 
</header> 
 
  <div id="main-wrapper"> 
    <div id="container" class="container_10"> 
      <!-- How We're Different Section --> 
      <section id="vision" class="grid_10 has-tabs"> 
        <hgroup> 
          <span class="section-num">1</span> 
          <h2>The vision</h2> 
          <h3>Personal money transfer from a company that deeply understands both Vietnam and US countries .</h3> 
        </hgroup> 
 
        <ul class="alpha grid_10 omega subnav"> 
          <li class="grid_2 active" tab-name="Putting people, not policies, first"> 
            <h4>Completely online money transfer service</h4> 
            <p>Transfer money securely anytime anywhere</p> 
          </li> 
          <li class="grid_2" tab-name="No surprise fees, ever"> 
            <h4>Two-way transfer</h4> 
            <p>Senders can be in VN or US. So can receiver</p> 
          </li> 
          <li class="grid_2" tab-name="Plain, simple language"> 
            <h4>Completely secure</h4> 
            <p>We use Authorize.net, the most secure payment gateway in the world</p> 
          </li> 
          <li class="grid_2" tab-name="Real service, real support"> 
            <h4>Real service, <br />real support</h4> 
            <p>We have 24/7 customer support in both US and VN.</p> 
          </li> 
          
        </ul> 
 
        <div class="next-btn">▶</div> 
 
        <ul id="overview-carousel" class="carousel"> 
 
          <li id="one-card" class="alpha grid_10 omega"> 

 
      </section> <!-- / How We're Different section --> 
 

 
      <!-- What We're Building Section --> 
      <section id="features" class="grid_10 has-tabs"> 
        <hgroup> 
          <span class="section-num">2</span> 
          <h2>The product</h2> 
          <h3>How it works</h3> 
        </hgroup> 
 
        <ul class="alpha grid_10 omega subnav"> 
          <li class="grid_2 active" tab-name="Find a new alternative"> 
            <h4>Sender describes himself</h4> 
            <p>Sender specifies his name, address and bank info (account and routing numbers)</p> 
          </li> 
          <li class="grid_2" tab-name="One card, one account"> 
            <h4>Sender describes the receiver</h4> 
            <p>Sender specifies receiver's name, address and bank info.</p> 
          </li> 
          <li class="grid_2" tab-name="Know what you can safely spend"> 
            <h4>Sender describes amount sent</h4> 
            <p>Sender specifies how much he wants to send.</p> 
          </li> 
          <li class="grid_2" tab-name="Automate your savings goals"> 
            <h4>Money is transferred to our bank account</h4> 
            <p>Once we receive the money, we will send an email notification to the sender</p> 
          </li> 
          <li class="grid_2" tab-name="But wait, there's more..."> 
            <h4>Receiver receives his money</h4> 
            <p>Money is now transferred from our account to receiver. We will also send an email notification to the sender</p> 
          </li> 
		 <li class="grid_2" tab-name="But wait, there's more..."> 
            <h4>Account book-keeping</h4> 
            <p>Both sender and receiver can log on and see his daily, weekly or monthly transfer</p> 
          </li>
			 <li class="grid_2" tab-name="But wait, there's more..."> 
	            <h4>Best exchange rate</h4> 
	            <p>Sender can specify USD or VND for receiver. We guarantee the best rate in the market</p> 
	          </li>
				 <li class="grid_2" tab-name="But wait, there's more..."> 
		            <h4>Create an account only one time</h4> 
		            <p>Next time you log on, just type an amount and you are done.</p> 
		          </li>
        </ul> 
 
      
      </section> <!-- / What We're Building section --> 
 
    
 
      <!-- Sign Up section --> 
      <section id="sign-up" class="grid_10"> 
        <hgroup> 
          <span class="section-num">3</span> 
          <h2 class="signup-txt">Save your spot</h2> 
          <h3>FundVn will launch in 2011. Sign up to try a beta account.</h3> 
        </hgroup> 
        <div id="sign-up-container" class="grid_10 alpha omega"> 
            <form id="contact-form"  method="post"  action="{%url contact_form  %}"> 
	          <div class="grid_8 prefix_1" id="signup-wrapper"> 
			  {% csrf_token %}
		     {{ form.non_field_errors }}
		
              <p> 
                Dear FundVn, 
              </p> 
              <p> 
               	    {{ form.as_table}}
			
                Please let me know when FundVn launches in 2011.
              </p> 
              <p id="form-error-message"></p> 
              <input class="grid_2 alpha btn" type="submit" id="signup-btn" value="Sign me up."> 
           </div>
            </form> 
           
        </div> 
      </section> <!-- / Sign Up section --> 
 
  
 
      <!-- Recent Blog Posts and News section --> 
      <section id="blog" class="grid_10"> 
        <hgroup> 
          <span class="section-num">4</span> 
          <h2>Recent blog posts</h2> 
          <h3>What we’re thinking about.</h3> 
          <a class="rss-icon" href="http://feeds.feedburner.com/FundVnBlog">Subscribe</a> 
        </hgroup> 
 
        
 
        <article class="grid_10 alpha omega"> 
          <dt class="grid_3 alpha"> 
            <time datetime="Fri May 20 00:00:00 +0000 2011">May 20, 2011</time> 
            <cite>by <b>Dat Nguyen</b></cite> 
          </dt> 
          <dd class="grid_7 omega"> 
            <h3><a href="/blog/2011/05/20/we-have-cards/">We are almost there</a></h3> 
 
            <p> 
	We are very happy to announce the Vietnamese government has approved our money remittance application 
            </p> 
 
            <p> 
              <a href="/blog/2011/05/20/we-have-cards/">Read post ☛</a> 
            </p> 
          </dd> 
        </article> 
 
        
 
        
 
      <section class="grid_10" id="press"> 
        <hgroup> 
          <span class="section-num">5</span> 
          <h2>Recent press</h2> 
          <h3>What others are saying about us.</h3> 
          <a class="rss-icon" href="http://feeds.feedburner.com/FundVnPress">Subscribe</a> 
        </hgroup> 
 
        
 
        <article class="grid_10 alpha omega press"> 
          <dt class="grid_3 alpha">              
            <img src="img/press/fastcodesign.png" class='logo' /> 
          </dt> 
          <dd class="grid_7 omega"> 
            <h3><a href="http://www.vnexpress.net">FundVn Wants to Shake Up money transfer with ground-breaking design</a></h3> 
                        
            <time datetime="Tue May 01 00:00:00 +0000 2011">March 01, 2011</time> 
            <cite>from <b><a href="http://www.vnexpress.net/">Vnexpress </a></b></cite> 
            
            <p></p> 
            
            <p>Three months after opening its online money transfer service for individuals, FundVN opens its service to business customers. Now business customers too can enjoy the same mid-market exchange rates that banks get on their interbank market.</p> 
 
            <p> 
              <a href="http://www.vnexpress.net">Read article ☛</a> 
            </p> 
          </dd> 
        </article> 
 
        
 
 
      <!-- Who's Building It section --> 
      <section id="team" class="grid_10"> 
        <hgroup> 
          <span class="section-num">6</span> 
          <h2>The FundVn team</h2> 
          <h3>Who's building this?</h3> 
        </hgroup> 
 
        <div class="grid_5 alpha"> 
          <p> 
  FundVn was born from our desire to reinvent money transfer from VN to US and from US to VN. We wanted to create an alternative that we would
  enjoy using. A secure service with a beautiful online and mobile experience with great customer service. We saw an
  opportunity to make money transfer simpler.
</p> 
 
<p> 
 Our service relies on our great community of people, who keep on transferring money with each other avoiding the banks. But we also have developers, designers, lawyers and accountants, who make this service smooth and reliable for you. 
</p> 
 
<p> 
  <a href="/team/">Curious about our executive team and investors?</a> 
</p> 
 
<p> 
  <a href="/careers/">Interested in joining our team?</a> 
</p> 
 
        </div> 
 
        <div id="team-images" class="grid_5 omega clearfix sprite"> 
          <!-- each dude's face in the grid has a link on it for the js to hook onto --> 
          <div class="grid_5 alpha omega"> 
            <div class="dude" id="alex"> 
              <div class="balloon left bottom"> 
                <h4>Dat Nguyen</h4> 
                <p>Founder</p> 
              </div> 
     
        </div> 

      </section> 
      <!-- / Who's Building It section --> 
    </div> <!-- end of #container --> 
  <footer id="footer"> 
 
  <div class="container_10"> 
    <dl id="footer-nav" class="grid_2"> 
      
    </dl> 
 
    <dl class="grid_2"> 
      <dt>Contact Us</dt> 
      <dd><span class="icon">✉</span> <a href="mailto:support@FundVn.com">Email Us</a></dd> 
<dd>Orange County</dd>
      <dd>California</dd> 
      <dd>USA</dd> 
	
    </dl> 
 
    <dl class="grid_2"> 
      <dt>More Info</dt> 
      <dd><a href="/careers/">Careers</a></dd> 
      <dd><a href="/faq/">FAQ</a></dd> 
      <dd><a href="/privacy/">Privacy Policy</a></dd> 
      <dd><a href="/security/">Security Policy</a></dd> 
      <dd><a href="/terms/">Terms of Use</a></dd> 
    </dl> 
 
   
 
    <div id="copyright" class="grid_10"> 
      Copyright © 2011 FundVn Corp. All rights reserved.
    </div> 
 
  </div> 
 
 
</footer> 
 
 
</div> 
 
 
</body> 
</html>