#navlist li
{
	
display: inline;
list-style-type: none;
padding-right: 20px;

}
#subheader{ font-size: 92%; border-top: 1px solid #ccc;  }

{% extends "main/base.html" %}
{% block head %}
<head>
		<title>fundvn.com{%block pagetitle %}{% endblock %}</title>
	  <link rel="stylesheet" href="/media/main.css" />
<link rel="stylesheet" type="text/css" href="http://jquery-ui.googlecode.com/svn/tags/latest/themes/base/jquery-ui.css" media="all" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

</head>
{% endblock head %}

{% block script %}
<script type="text/javascript">
 $(function() {
        $("#id_created").datepicker({ dateFormat: 'yy-mm-dd' });
 });
</script>

{% endblock script %}



{% block main %}
You have requested a swap for {{ id }}. Please enter your reverse transfer below:
<form method='POST'>{% csrf_token %}
 {{ form.as_p }} 
<input type='submit' value='Send'> 
</form>

{% endblock main %}#content{ padding: 1em 0 5em 0; font-size: 92%; border-top: 1px solid #ccc;  }
/* //-- footer -- */
#ft { padding: 1em 0 5em 0; font-size: 92%; border-top: 1px solid #ccc; text-align: left; }





#id_sender_country {
    width: 80px;
}

#id_receiver_country {
    width: 80px;
}

#id_sender_city {
    width: 80px;
}

#id_receiver_city {
    width: 80px;
}
#id_min_amount {
    width: 50px;
}
#id_max_amount {
    width: 50px;
}

#id_vDateField  {
    width: 500px;
}
.container {width: 500px; margin: 10px auto;}

/*ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px;
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	width: 100%;
}*/

ul.tabs{
	
	position: relative;
	margin: 10px 0 0 0;
	height:32px;
	padding: 6px 10px;
	background: url('https://a248.e.akamai.net/assets.github.com/images/modules/pagehead/tab_background.gif?v2');
	border: 1px solid #DDD;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;

}

ul.tabs li{
list-style-type: none;
margin: 0;
display: inline;	
}
ul.tabs li a {
float: left;
margin-right: 10px;
height: 31px;
padding: 0 8px;
line-height: 31px;
font-size: 18px;
text-shadow: 1px 1px 0 rgba(255,255,255,0);	
}
/*ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px;
	line-height: 31px;
	border: 1px solid #999;
	border-left: none;
	margin-bottom: -1px;
	background: #e0e0e0;
	overflow: hidden;
	position: relative;
}*/
/*ul.tabs li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 1.2em;
	padding: 0 20px;
	border: 1px solid #fff;
	outline: none;
}*/
ul.tabs li a:hover {
	background: #ccc;
}	
/*ul.tabs li a:selected {
	position: relative;
	top: -1px;
	font-weight:bold;
	color: #333;
	background: white;
	border: 1px solid;
	border-right-color: #EEE;
	border-bottom-color: #EEE;
}
html ul.tabs li.active, html ul.tabs li.active a:hover  {
	position: relative;
	top: -1px;
	font-weight:bold;
	color: #333;
	background: white;
	border: 1px solid;
	border-right-color: #EEE;
	border-bottom-color: #EEE;
}*/
.tab_container {
	border: 1px solid #999;
	border-top: none;
	clear: both;
	float: left; 
	width: 100%;
	background: #fff;
	-moz-border-radius-bottomright: 5px;
	-khtml-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-khtml-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
}
.tab_content {
	padding: 40px;
	font-size: 1.2em;
}
.tab_content h2 {
	font-weight: normal;
	padding-bottom: 10px;
	border-bottom: 1px dashed #ddd;
	font-size: 1.8em;
}
.tab_content h3 a{
	color: #254588;
}
.tab_content img {
	float: left;
	margin: 0 20px 20px 0;
	border: 1px solid #ddd;
	padding: 5px;
}